:root {
    /* default colors */
    --color-primary: #23c686;
    --color-secondary: #1d3853;
    --color-dark: #121b2e;
    --color-info: #4daafa;
    --color-success: #0eaf30;
    --color-warning: #f7c70e;
    --color-danger: #f60545;
    --color-red: ##FF0000;
    --color-light: #dce4f3;
    --color-accent1: #2c4763;
    --color-accent2: #517589;
    --color-accent3: #94c8d9;
  }
