@import url(./reset.css);
@import url(./colors.css);
@import url(./fonts.css);

body
{
  color: var(--color-white);
  font-family: var(--font-primary);
}

h1
{
  font-weight: 500;
  font-size: 72px;
  text-transform: uppercase;
  margin-bottom: -25px;
}

#covercontainer
{
  height: 100vh;
  background: rgb(67,125,184);
  background: linear-gradient(180deg, rgba(67,125,184,1) 0%, rgba(29,56,83,1) 100%);
}

#hero
{
  text-align: center;

  height: 100vh;
  background-image: url(../img/cover/world.svg);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
}
:root {
    /* default colors */
    --color-primary: #23c686;
    --color-secondary: #1d3853;
    --color-dark: #121b2e;
    --color-info: #4daafa;
    --color-success: #0eaf30;
    --color-warning: #f7c70e;
    --color-danger: #f60545;
    --color-white: #ffffff;
    --color-light: #dce4f3;
    --color-accent1: #2c4763;
    --color-accent2: #517589;
    --color-accent3: #94c8d9;
  }
 :root {
  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Montserrat', sans-serif;
  --font-text: 'Montserrat', sans-serif;
}
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

#heroslogan
{
  margin-top: 20px;
  font-weight: 600;
}

.space
{
  margin: 30px 0;
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) 
{

  #hero
  {
    background-size: contain;
    background-position: center;
    padding: 0 15px;
  }

  h1
  {
    font-weight: 500;
    font-size: 52px;
    text-transform: uppercase;
    margin-bottom: -25px;
    margin-top: 25px;
  }
}
